<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" type="text/css"></link>

{# http://www.favicon.cc/?action=icon&file_id=32641 Creative Commons based new hacker favicon #}
<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAbUlEQVRIx82UOw4AIAhDrfEczt7fA+riZgxY8NPRwND2IdpQeKTELgIAML/v2olWBznXWgq/D7YCrwToCrzIMVdgFZ2AVlJV1xJYwUpD6JXA8Qoke/9BqL1vr7llAtofzjo3QXg7geNXIOk5hB3kjHms8LC50QAAAABJRU5ErkJggg==" rel="icon" type="image/x-icon" />

{% block scripthead %}{% endblock %}
   
</head>
<body>

<div id="header">
	<p>C3PB User Management - HEADER</p>
</div>

<div id="nav">
    <ul>
      <li><a href="/user/{{user.nick}}">me</a></li>
      <li><a href="/user/">all</a></li>
      
      {% if user.isAdmin is defined %}
    	<li><a href="/admin">admin</a></li>
      	<li><a href="/new">new</a></li>
      {% endif %}
      <li><a href="/logout">logout</a></li>
    </ul>  
</div>

<div id="content">
	{% block content %}
	{% endblock %}
</div>

<div id="footer">
	<p>C3PB User Management - FOOTER</p>
</div>
 

</body>
</html>
